@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.designPatternsDropdown {
  [class*="ms-Dropdown-container"] {
    [class*="errorMessage_"]{
      float: left;
      width:100%;
    }
    max-width: 300px;
    [class*="root_"]{
      max-width:180px;
      float: left;
    }
  }

  [class*="hover"] {
    [class*="bce-design-system-dropdown-underline"] {
      [class*="ms-Dropdown-title"] {
        border-bottom: 1px solid #212121;
        padding-left: 12px;
      }
    }

    [class*="ms-Dropdown-title"] {
      border: 1px solid #212121;
    }
  }

  [class*="selected"],
  [class*="pressed"] {
    [class*="bce-design-system-dropdown-underline"] {
      [class*="ms-Dropdown-title"] {
        border-bottom: 1px solid #0979be;
        padding-left: 12px;
      }
    }
    [class*="ms-Dropdown-title"] {
      border-color: #0979be;
      padding-left: 12px;
    }
  }
}