@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.gettingStartedDesignPrinciples {
  > div:nth-child(2){
    i{
      font-size: 42px;
      line-height: 42px;
    }
    [class*="ms-lg2"]{
      text-align: center;
    }
    [class*="ms-Grid-row"]{
      padding: 10px;
    }
  }
}